<div ui-content-for="title">
    <span>DS hóa đơn</span>
</div>

<div ui-content-for="navbarAction">
    <a href="#/sales/add" ui-toggle="uiSidebarRight" class="btn">
        <i class="fa fa-plus"></i> Thêm
    </a>
</div>

<div class="scrollable">
    <a href="#/" class="btn btn-block btn-lg btn-primary scrollable-footer">Bán hàng</a>
    <div class="scrollable-content">
        <div ng-repeat="date in sales" class="">
            <h4 class="text-center">{{ date.title }}</h4>
            <div class="list-group">
                <a ng-repeat="item in date.orders" href="#/sales/view?id={{item.ID}}" class="list-group-item row">
                    <i class="col-md-4">{{item.ID}}</i>
                    <i class="col-md-8">{{ item.name }}</i>
                    <i class="col-md-8">{{ item.price }}</i>
                </a>
            </div>
        </div>
    </div>
</div>