<div ui-content-for="title">
    <span>Thông tin của shop</span>
</div>

<div ui-content-for="navbarAction">
    <a href="#/sales{{sale.ID?'/view?id='+sale.ID:''}}" ui-toggle="uiSidebarRight" class="btn">
        <i class="fa fa-trash"></i> Tất cả
    </a>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <form role="form">
            <select class="form-control input-lg "
                    ng-model="categoryID">
                <option value="">-- Chọn loại sản phẩm --</option>
                <option ng-repeat="option in categorys"
                        ng-selected="sale.categoryID==option.ID"
                        value="{{option.ID}}">
                    {{option.name}}
                </option>
            </select>
            <datalist id="products">
                <option ng-repeat="option in products" value="{{option.name}}">
            </datalist>
            <input type="text"
                   list="products"
                   ng-model="sale.productName"
                   class="form-control input-lg "
                   placeholder="Tên sản phẩm">
            <input type="number"
                   ng-model="sale.price"
                   class="form-control input-lg "
                   placeholder="Giá">
            <hr>
            <button class="btn btn-primary btn-block" ng-click="save()">
                Bán
            </button>
        </form>
        <h3 class="text-center">Hôm nay</h3>
        <table>
            <tr ng-repeat="item in salesToday">
                <td>{{item.ID}}</td>
                <td><div class="{{item.icon?'icons-set '+ item.icon : 'miss-image fa fa-picture-o'}}"></div></td>
                <td>{{item.productName}}</td>
                <td>{{item.price}}</td>
            </tr>
        </table>
    </div>
</div>