<div ui-content-for="title">
    <span>Đơn hàng</span>
</div>

<div ui-content-for="navbarAction">
    <a class="btn text-danger" ui-toggle="uiSidebarRight" ng-click="delete(sale.ID)">
        <i class="fa fa-trash text-danger">  Xóa</i>
    </a>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <div class="row">
            <h3 class="text-center">Ngày {{sale.dateTitle}}</h3>
        </div>
        <table>
            <tr>
                <td><div class="{{sale.icon?'icons-set '+ sale.icon : 'miss-image fa fa-picture-o'}}"></div></td>
                <td class="icon-list-item"><h3>{{sale.productName}}</h3>
                <span>Giá : {{sale.price || 0}}k</span>
                </td>
                <td>
                    <a class="btn btn-primary button-edit" href="#/sales/add?id={{sale.ID}}">Cập nhập</a>
                    <a class="btn btn-default button-edit" href="#/sales">Hủy</a>
                </td>
            </tr>
        </table>
    </div>
</div>