<div ui-content-for="title">
    <span>DS sản phẩm</span>
</div>

<div ui-content-for="navbarAction">
    <a href="#/product/add" ui-toggle="uiSidebarRight" class="btn">
        <i class="fa fa-plus"></i> Thêm
    </a>
</div>

<div class="scrollable" ui-state="searchBar">
    <input
            ng-if="Ui.active('searchBar')"
            type="search"
            class="form-control scrollable-header"
            placeholder="Tìm nhanh ..." />

    <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
        <div class="list-group">
            <a ng-repeat="item in products" href="#/product/view?id={{item.ID}}" class="list-group-item row">
                <i class="col-md-4">{{item.name.charAt(0)}}</i>
                <i class="col-md-8">{{ item.name }}</i>
            </a>

        </div>
    </div>

    <a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar'>
        <i class="fa fa-search"></i>
        <span ui-hide="searchBar">Show</span>
        <span ui-show="searchBar">Hide</span>
        Search Bar
    </a>
</div>