<div ui-content-for="title">
    <span>DS sản phẩm</span>
</div>

<div ui-content-for="navbarAction">
    <a href="#/product/add" ui-toggle="uiSidebarRight" class="btn">
        <i class="fa fa-plus"></i> Thêm
    </a>
</div>

<div class="scrollable" ui-state="searchBar">
    <input
            ng-if="Ui.active('searchBar')"
            type="search"
            class="form-control scrollable-header"
            placeholder="Tìm nhanh ..." />

    <div class="scrollable-content section">
        <table>
            <tr ng-repeat="item in products">
                <td><i class="{{item.icon?'icons-set '+ item.icon : 'miss-image fa fa-picture-o'}}"></i></td>
                <td class="icon-list-item"><a href="#/product/view?id={{item.ID}}"><h2>{{ item.name }}</h2></a></td>
            </tr>
        </table>
    </div>

    <a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar'>
        <i class="fa fa-search"></i>
        <span ui-hide="searchBar">Show</span>
        <span ui-show="searchBar">Hide</span>
        Search Bar
    </a>
</div>