<div ui-content-for="title">
    <span>{{product.category}}</span>
</div>

<div ui-content-for="navbarAction">
    <a class="btn text-danger" ui-toggle="uiSidebarRight" ng-click="deleteStore(product.ID)">
        <i class="fa fa-trash text-danger">  Xóa</i>
    </a>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <div class="row">
            <h1>{{product.name}}</h1>
        </div>
        <table>
            <tr>
                <td class="icon-list-item">
                    <div><p class="pull-left">Nhập :</p><p class="text-right">{{product.im}} cái</p></div>
                    <div><p class="pull-left">Kho :</p><p class="text-right">{{product.im - product.ex}} cái</p></div>
                    <div><p class="pull-left">Giá :</p><p class="text-right">{{product.price}}k</p></div>
                </td>
                <td>
                    <a class="btn btn-primary button-edit" href="#/product/add?id={{product.ID}}">Cập nhập</a>
                    <a class="btn btn-default button-edit" href="#/product">Hủy</a>
                </td>
            </tr>
        </table>
        <br>
        <h3>Lịch sử lấy hàng:</h3>
        <hr>
        <table>
            <tr>
                <th>Shop</th>
                <th>Lần lấy</th>
                <th>Số lương</th>
                <th>Tiền</th>
            </tr>
            <tr ng-repeat="date in listStore">
                <td>{{date.name}}</td>
                <td>{{date.number}}</td>
                <td>{{date.im}} cái</td>
                <td>{{date.imValue}}k</td>
            </tr>
        </table>
    </div>
</div>