<h1 class="app-name">Angel House Shop</h1>

<div class="scrollable">
  <h1 class="scrollable-header app-name">Angel House Shop</h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/nhapDonHang">Nhập hóa đơn<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/testDB">testDB<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/store">Shop lấy đồ<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/category">Loại quần áo<i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>