<div ui-content-for="title">
    <span>DS hóa đơn</span>
</div>

<div ui-content-for="navbarAction">
    <a href="#/orders/add" ui-toggle="uiSidebarRight" class="btn">
        <i class="fa fa-plus"></i> Thêm
    </a>
</div>

<div class="scrollable" ui-state="searchBar">
    <input
            ng-if="Ui.active('searchBar')"
            type="search"
            class="form-control scrollable-header"
            placeholder="Tìm nhanh ..."/>

    <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
        <div ng-repeat="date in orders" class="">
            <h4 class="text-center">{{ date.title }}</h4>
            <div class="list-group">
                <a ng-repeat="item in date.orders" href="#/orders/view?id={{item.ID}}" class="list-group-item row">
                    <i class="col-md-4">{{item.ID}}</i>
                    <i class="col-md-8">{{ item.name }}</i>
                </a>
            </div>
        </div>
    </div>

    <a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar'>
        <i class="fa fa-search"></i>
        <span ui-hide="searchBar">Show</span>
        <span ui-show="searchBar">Hide</span>
        Search Bar
    </a>
</div>