<div ui-content-for="title">
    <span>Shop lấy sỉ</span>
</div>

<div ui-content-for="navbarAction">
    <a href="#/store/add" ui-toggle="uiSidebarRight" class="btn">
        <i class="fa fa-plus"></i> Thêm
    </a>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <table>
            <tr ng-repeat="item in stores">
                <td class="icon-letter">
                    <a href="#/store/view?id={{item.ID}}">{{item.name.charAt(0)}}</a>
                </td>
                <td class="icon-list-item">
                    <a href="#/store/view?id={{item.ID}}">
                        <div class="lead"><strong>{{ item.name }}</strong></div>
                        <div class="small">{{ item.address }}</div>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>