<div ui-content-for="title">
    <span>Thể loại đồ</span>
</div>

<div ui-content-for="navbarAction">
    <a href="#/category/add" ui-toggle="uiSidebarRight" class="btn">
        <i class="fa fa-plus"></i> Thêm
    </a>
</div>

<div class="scrollable" ui-state="searchBar">
    <div class="scrollable-content section" >
        <table>
            <tr ng-repeat="item in categorys">
                <td>
                    <div class="{{item.icon?'icons-set '+ item.icon : 'miss-image fa fa-picture-o'}}"></div>
                </td>
                <td class="icon-list-item">
                    <a href="#/category/view?id={{item.ID}}"><h1>{{item.name}}</h1></a>
                </td>
            </tr>
        </table>
    </div>
</div>