<div ui-content-for="title">
    <span>Category</span>
</div>

<div ui-content-for="navbarAction">
    <a class="btn text-danger" ui-toggle="uiSidebarRight" ng-click="delete(category.ID)">
        <i class="fa fa-trash text-danger">  Xóa</i>
    </a>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <table>
            <tr>
                <td><div class="{{category.icon?'icons-set '+ category.icon : 'miss-image fa fa-picture-o'}}"></div></td>
                <td class="icon-list-item"><h1>{{category.name}}</h1></td>
                <td>
                    <a class="btn btn-primary button-edit" href="#/category/add?id={{category.ID}}">Cập nhập</a>
                    <a class="btn btn-default button-edit" href="#/category">Hủy</a>
                </td>
            </tr>
            <tr class="small">
                <td>Nhập hàng</td>
                <td class="text-right">{{category.im || 0}} cái</td>
                <td class="text-right">{{category.imValue || 0}}k</td>
            </tr>
            <tr class="small">
                <td>Bán</td>
                <td class="text-right">{{category.ex || 0}} cái</td>
                <td class="text-right">{{category.exValue || 0}}k</td>
            </tr>
        </table>
        <div class="row text-center">

        </div>
        <br>
        <h4><strong>Thống kê các sản phẩm {{category.name}}</strong></h4>
        <hr>
        <table>
            <tr>
                <th></th>
                <th></th>
                <th>Nhập hàng</th>
                <th></th>
                <th>Bán</th>
            </tr>
            <tr ng-repeat="item in listProduct">
                <th>{{item.name}}</th>
                <td class="text-right">{{item.im || 0}} cái</td>
                <td class="text-right">{{item.imValue || 0}}k</td>
                <td class="text-right">{{item.ex || 0}} cái</td>
                <td class="text-right">{{item.exValue || 0}}k</td>
            </tr>
        </table>

    </div>
</div>